body { margin: 0px; font-size: 24pt;}

.borderinset {
    border-style: inset;
    border-width: thin;
    border-color: black;
}

.frame {
    max-width: 1920px;
    height: 6970px;
    margin: auto;
    position: relative;
}

/* ============================Page 1============================ */

.page1 {
    width: 100%;
    height: 1026px;
    position: relative;
}

.p1-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1026px;
    background-image: url('../images/page1/page1-background.png');
    filter: brightness(40%);
}

.p1-img-background {
    filter: brightness(50%);
}

.page1header {
    width: 274px;
    height: 136px;
}

.page1menu {
    width: 61.2%;
    height: 136px;
    margin: auto;
    position: relative;
}

.page1content {
    width: 100%;
    height: 754px;
}

.slideleft {
    width: 19%;
    height: 754px;
    float: left;
}

.slideright {
    width: 19%;
    height: 754px;
    float: right;
}

.slide {
    width: 100%;
    height: 136px;
    clear: both;
}

.p1-img-logos {
    width: 23.68%;
    position: relative;
}

.p1-img-directions {
    width: 42px;
}

.p1-button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #998675;
    border-color: #998675;
}

.p1-img-circle {
    width: 11px;
}

.p1-img-active {
    width: 15px;
}
/* =================================Page 2================================ */
.page2 {
    width: 100%;
    height: 1225px;
    background-color: white;
}

.page2menu {
    width: 61.2%;
    height: 344px;
    margin: auto;
}

.page2content {
    width: 100%;
    height: 618px;
    margin: auto;
    position: relative;
}

.page2footer {
    width: 100%;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(to right,#211b19, #4e3427);
}

.p2-submenu {
    width: 23.23%;
}

.p2-img {
    width: 100%;
    height: 481px;
    position: relative;
}

.p2-img-center {
    position: absolute;
    width: 40%;
    left: 30%;
}

.p2-img-left {
    position: absolute;
    width: 40%;
    left: 18%;
    bottom: 0;
}

.p2-img-right {
    position: absolute;
    width: 40%;
    right: 18%;
    bottom: 0;
}

.page2footercontent {
    width: 61.2%;
    height: 100%;
    margin: auto;
}

.page2footerleft {
    float: left;
    height: 100%;
}

.page2footerright {
    float: right;
    height: 100%;
}

.p2-button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #998675;
    border-color: #998675;
}
/* ===============================Page 3===================================== */
.page3 {
    width: 100%;
    height: 1166px;
}

.page3header {
    width: 61.2%;
    height: 252px;
    margin: auto;
}

.page3content {
    width: 61.2%;
    height: 914px;
    margin: auto;
}

.p3-btn-active {
    background-color: #998675;
    border-radius: 5px;
    justify-items: center;
    line-height: 32px;
}

.p3-btn {
    border-style: solid;
    border-width: thin;
    border-color: #ebebeb;
    border-radius: 5px;
    justify-items: center;
    line-height: 32px;
}

.p3-content {
    width: 65%;
    margin: auto;
}

.p3-item {
    width: 31.5%;
    height: 338px;
    position: relative;
}

.p3-photo {
    width: 100%;
    height: 238px;
}

.p3-item-content {
    width: 100%;
    height: 100px;
}

.p3-photo1 { background-image: url('../images/page3/page3-photo1.png'); }
.p3-photo2 { 
    background-image: url('../images/page3/page3-photo2.png'); 
    filter: brightness(50%);
    position: relative;
}
.p3-photo3 { background-image: url('../images/page3/page3-photo3.png'); }
.p3-photo4 { background-image: url('../images/page3/page3-photo4.png'); }
.p3-photo5 { background-image: url('../images/page3/page3-photo5.png'); }
.p3-photo6 { background-image: url('../images/page3/page3-photo6.png'); }

.p3-overlay {
    width: 100%;
    height: 238px;
    position: absolute;
    top: 0;
    left: 0;
}

.p3-button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #998675;
    border-color: #998675;
}
/* ======================================Page 4============================== */
.page4 {
    width: 100%;
    height: 710px;
    position: relative;
}

.p4-blur {
    width: 100%;
    height: 710px;
    background-image: url('../images/page4/page4-background.png');
    filter: brightness(60%);
}

.page4content {
    position: absolute;
    top: 0;
    left: 19.4%;
    width: 61.2%;
    height: 704px;
}

.p4-icon {
    width: 102px;
    height: 102px;
    position: relative;
}

.p4-icon-blur {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 70px;
    filter: opacity(30%);
}

.p4-icon-position {
    position: absolute;
    top: 15px;
    left: 15px;
}
/* ==============================Page 5============================= */
.page5 {
    width: 100%;
    height: 1002px;
}

.page5frame {
    width: 61.2%;
    height: 696px;
    margin: auto;
    position: relative;
}

.page5photo {
    width: 40%;
    height: 696px;
    position: absolute;
    left: 0;
    top: 0;
}

.page5content {
    width: 60%;
    height: 696px;
    position: absolute;
    right: 0;
    top: 0;
}

.page5footer {
    width: 100%;
    height: 302px;
    background-image: linear-gradient(to right,#211b19, #4e3427);
}

.page5menu {
    width: 61.2%;
    height: 302px;
    margin: auto;
}

.p5-photo {
    width: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.p5-icon {
    width: 140px;
}

._ {
    border-style: solid;
    border-width: 1px;
    width: 30px;
    border-color: white;
    margin: auto;
}
/* =======================================Page 6================================== */
.page6 {
    width: 100%;
    height: 760px;
}

.page6content {
    width: 61.2%;
    height: 756px;
    margin: auto;
}

/* Page 7 */
.page7 {
    width: 100%;
    height: 1112px;
}

.page7top {
    width: 100%;
    height: 492px;
}

.page7center {
    width: 100%;
    height: 508px;
}

.page7bottom {
    width: 100%;
    height: 112px;
}

.page7logos {
    width: 61.2%;
    height: 492px;
    margin: auto;
}

.page7content {
    width: 61.2%;
    height: 508px;
    margin: auto;
}

.page7footer {
    width: 61.2%;
    height: 112px;
    margin: auto;
}


/* ============================Width============================== */
.width25 { width: 25% }
.width40 { width: 40% }
.width48 { width: 48% }
.width75 { width: 75% }
.width100 { width: 100% }
.width120 { width: 120px; }

/* ============================Height============================== */
.height100 { height: 100%; }

/* ============================Padding============================== */
.pdl-26 { padding-left: 26px }
.pdl-30 { padding-left: 30% }
.pdl30 { padding-left: 30px }
.pdr-26 { padding-right: 26px }
.pdr-30 { padding-right: 30% }
.pdt-5 { padding-top: 5px }
.pdt-110 { padding-top: 110px }

/* ============================Margin============================== */
.mgt-10 { margin-top: 10px; }
.mgt-12 { margin-top: 12px; }
.mgt-18 { margin-top: 18px; }
.mgt-22 { margin-top: 22px; }
.mgt-25 { margin-top: 25px; }
.mgt-30 { margin-top: 30px; }
.mgt-35 { margin-top: 35px; }
.mgt-39 { margin-top: 39px; }
.mgt-45 { margin-top: 45px; }
.mgt-50 { margin-top: 50px; }
.mgt-54 { margin-top: 54px; }
.mgt-60 { margin-top: 60px; }
.mgt-78 { margin-top: 78px; }
.mgt-110 { margin-top: 110px; }
.mgt-245 { margin-top: 245px; }
.mgr-10 { margin-right: 10px; }
.mgr-20 { margin-right: 20px; }
.mgr-29 { margin-right: 29px; }
.mgr-30 { margin-right: 30px; }
.mgr-57 { margin-right: 57px; }
.mgb-110 {margin-bottom: 110px; }
.mgl-30 { margin-left: 30px; }

/* ============================Text align============================== */
.ta-center-136 {
    justify-items: center;
    line-height: 136px;
}

.ta-center { text-align: center; }

/* ============================Flex============================== */
.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

/* ============================Float============================== */
.float-left { float: left; }
.float-right { float: right; }
.clearfloat { clear:both; }

/* ============================Position============================== */
.absolute-left {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* ============================Fonts============================== */
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-UltraLight;
    src: url('../fonts/Montserrat-UltraLight.otf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

.f-RalewayRegular-28 {
    font-family: Raleway-Regular;
    font-size: 28px;
}

.f-RalewayRegular-34 {
    font-family: Raleway-Regular;
    font-size: 34px;
}

.f-RalewayMedium-20 {
    font-family: Raleway-Medium;
    font-size: 20px;
}

.f-RalewayMedium-30 {
    font-family: Raleway-Medium;
    font-size: 30px;
}

.f-RalewayMedium-36 {
    font-family: Raleway-Medium;
    font-size: 36px;
}

.f-RalewayExtraBold-52 {
    font-family: Raleway-ExtraBold;
    font-size: 52px;
}

.f-RalewaySemiBold-22 {
    font-family: Raleway-SemiBold;
    font-size: 22px;
}

.f-RalewaySemiBold-30 {
    font-family: Raleway-SemiBold;
    font-size: 30px;
}

.f-RalewayExtraBold-14 {
    font-family: Raleway-ExtraBold;
    font-size: 14px;
}

.f-MontserratLight-14 {
    font-family: Montserrat-Light;
    font-size: 14px;
}

.f-MontserratLight-16 {
    font-family: Montserrat-Light;
    font-size: 16px;
}

.f-MontserratLight-18 {
    font-family: Montserrat-Light;
    font-size: 18px;
}

.f-MontserratRegular-14 {
    font-family: Montserrat-Regular;
    font-size: 14px;
}

.f-MontserratUltraLight-48 {
    font-family: Montserrat-UltraLight;
    font-size: 48px;
}
/* ============================Font colors============================== */
.fc-white { color: #ffffff; }
.fc-c7b299 { color: #c7b299; }
.fc-8c8c8c { color: #8c8c8c; }
.fc-555555 { color: #555555; }
.fc-615855 { color: #615855; }
.fc-d1d1d1 { color: #d1d1d1; }

/* ============================Background colors============================== */
.bgc-362f2d { background-color: #362f2d; }

/* ============================Order============================== */
.order1 { order: 1; }

/* ============================Line Height============================== */
.lh-28 {
    justify-items: center;
    line-height: 28px;
}