body { margin: 0px; font-size: 24pt;}

.borderinset {
    border-style: inset;
    border-width: thin;
    border-color: black;
}

.frame {
    max-width: 1920px;
    height: 6970px;
    margin: auto;
    position: relative;
}

/* ============================Page 1============================ */

.page1 {
    width: 100%;
    height: 1026px;
    position: relative;
}

.p1-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1026px;
    background-image: url('../images/page1/page1-background.png');
    filter: brightness(40%);
}

.p1-img-background {
    filter: brightness(50%);
}

.page1header {
    width: 274px;
    height: 136px;
}

.page1menu {
    width: 61.2%;
    height: 136px;
    margin: auto;
    position: relative;
}

.page1content {
    width: 100%;
    height: 754px;
}

.slideleft {
    width: 19%;
    height: 754px;
    float: left;
}

.slideright {
    width: 19%;
    height: 754px;
    float: right;
}

.slide {
    width: 100%;
    height: 136px;
    clear: both;
}

.p1-img-logos {
    width: 23.68%;
    position: relative;
}

.p1-img-directions {
    width: 42px;
}

.p1-button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #998675;
}

.p1-img-circle {
    width: 11px;
}

.p1-img-active {
    width: 15px;
}
/* =================================Page 2================================ */
.page2 {
    width: 100%;
    height: 1225px;
}

.page2menu {
    width: 61.2%;
    height: 344px;
    margin: auto;
}

.page2content {
    width: 100%;
    height: 728px;
    margin: auto;
}

.page2footer {
    width: 100%;
    height: 150px;
    margin: auto;
}

/* Page 3 */
.page3 {
    width: 100%;
    height: 1166px;
}

.page3header {
    width: 61.2%;
    height: 252px;
    margin: auto;
}

.page3content {
    width: 61.2%;
    height: 914px;
    margin: auto;
}

/* Page 4 */
.page4 {
    width: 100%;
    height: 710px;
}

.page4content {
    width: 61.2%;
    height: 704px;
    margin: auto;
}

/* Page 5 */
.page5 {
    width: 100%;
    height: 1002px;
}

.page5frame {
    width: 61.2%;
    height: 696px;
    margin: auto;
    position: relative;
}

.page5photo {
    width: 24%;
    height: 696px;
    position: absolute;
    left: 0;
    top: 0;
}

.page5content {
    width: 75%;
    height: 696px;
    position: absolute;
    right: 0;
    top: 0;
}

.page5menu {
    width: 61.2%;
    height: 302px;
    margin: auto;
}

/* Page 6 */
.page6 {
    width: 100%;
    height: 760px;
}

.page6content {
    width: 61.2%;
    height: 756px;
    margin: auto;
}

/* Page 7 */
.page7 {
    width: 100%;
    height: 1112px;
}

.page7top {
    width: 100%;
    height: 492px;
}

.page7center {
    width: 100%;
    height: 508px;
}

.page7bottom {
    width: 100%;
    height: 112px;
}

.page7logos {
    width: 61.2%;
    height: 492px;
    margin: auto;
}

.page7content {
    width: 61.2%;
    height: 508px;
    margin: auto;
}

.page7footer {
    width: 61.2%;
    height: 112px;
    margin: auto;
}


/* ============================Width============================== */
.width25 { width: 25% }
.width48-1 { width: 48.1% }
.width75 { width: 75% }
.width100 { width: 100% }

/* ============================Height============================== */
.height100 { height: 100%; }

/* ============================Padding============================== */


/* ============================Margin============================== */
.mgt-10 { margin-top: 10px; }
.mgt-18 { margin-top: 18px; }
.mgt-39 { margin-top: 39px; }
.mgt-50 { margin-top: 50px; }
.mgt-54 { margin-top: 54px; }
.mgt-60 { margin-top: 60px; }
.mgr-20 { margin-right: 20px; }
.mgr-29 { margin-right: 29px; }
.mgr-57 { margin-right: 57px; }

/* ============================Text align============================== */
.ta-center-136 {
    justify-items: center;
    line-height: 136px;
}

.ta-center { text-align: center; }

/* ============================Flex============================== */
.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

/* ============================Float============================== */
.float-left { float: left; }
.float-right { float: right; }
.clearfloat { clear:both; }

/* ============================Position============================== */
.absolute-left {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* ============================Fonts============================== */
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-UntraLight;
    src: url('../fonts/Montserrat-UntraLight.ttf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

.f-RalewayRegular-34 {
    font-family: Raleway-Regular;
    font-size: 34px;
}

.f-RalewayMedium-36 {
    font-family: Raleway-Medium;
    font-size: 36px;
}

.f-RalewayExtraBold-52 {
    font-family: Raleway-ExtraBold;
    font-size: 52px;
}

.f-RalewayExtraBold-14 {
    font-family: Raleway-ExtraBold;
    font-size: 14px;
}

.f-MontserratLight-14 {
    font-family: Montserrat-Light;
    font-size: 14px;
}

.f-MontserratLight-16 {
    font-family: Montserrat-Light;
    font-size: 16px;
}

/* ============================Font colors============================== */
.fc-white { color: #ffffff; }
.fc-c7b299 { color: #c7b299; }

/* ============================Order============================== */
.order1 { order: 1; }