body { margin: 0px; font-size: 24pt; cursor: default; z-index: 100;}

.frame { transition: background-color 1s; }

.borderinset {
    border-style: inset;
    border-width: thin;
    border-color: black;
}

.frame {
    /* max-width: 1920px; */
    width: 100%;
    /* margin: auto; */
    position: relative;
}

.page1, .page2, .page3, .page4, .page5, .page6, .page7 { width: 100%; position: relative;}

.page1-menu, .page2-menu, .page2footercontent, .page3-header, .page3-content, .page4-content, .page5-frame, .page5-menu, .page6-content, .page7-logos, .page7-content, .page7-footer {
    width: 61.2%;
}

ul li { display: inline; }

a { text-decoration: none; color: white; }

.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }

.button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #998675;
    border-width: 1px;
    border-color: #998675;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #736357;
}
.button:hover { background-color: #ffffff; color: #998675; transition: all 0.3s ease; border-color: #998675; }

/* ============================Page 1============================ */

.page1 { position: relative; }

.p1-blur {
    width: 100%;
    height: 1026px;
    background-image: url('../images/page1/page1-background.jpg');
    background-position: 40% 0%;
    filter: brightness(40%);
}

.p1-img-background {
    filter: brightness(50%);
}

#p1-content { margin-top: 18px; }

.page1-header {
    width: 274px;
    height: 136px;
}

.page1-menu {
    max-width: 1920px;
    height: 136px;
    margin: auto;
    position: relative;
}

.p1-sidenav-overlay {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
    height: 100%;
}

.p1-sidenav {
    width: 0;
    position: fixed;
    right: 0;
    top: 0;
    display: block;
    background-color: #000000;
    width: 0px;
    height: 100%;
    font-size: 40px;
    line-height: 90px;
    transition: 0.5s;
    z-index: 1;
}

#p1-sidenav-close {
    font-size: 90px;
}

.sidenav-menu {
    margin: 20px 60px;
    text-align: center;
}

.p1-menu-icon { margin-top: 54px; }

.p1-header-option { 
    margin-top: 56px;
    margin-right: 20px; 
    float: right;
    font-size: 25px;
}

.icon-expandmenu { display: none; }

.page1content {
    width: 100%;
    height: 754px;
}

.slideleft, .slideright { width: 19%; height: 754px;}
.slideleft { float: left; }
.slideright { float: right; }

.slide {
    width: 100%;
    height: 136px;
    clear: both;
}

.p1-menu { margin-right: 29px; }

.p1-img-logos { margin-top: 35px; }

.p1-menu:hover a{ color: #c7b299; }

.p1-img-left, .p1-img-right { width: 40px; height: 73px; }

.p1-img-right { background-image: url('../images/page1/page1-right-dbl.png'); background-position: 0 0; }
.p1-img-right:hover { background-position: 40px 0; }

.p1-img-left { background-image: url('../images/page1/page1-left-dbl.png'); background-position: 0 0; }
.p1-img-left:hover { background-position: 40px 0;}

.p1-img-circle { width: 11px; margin: 0 3px; }

.p1-img-active { width: 15px; margin: 0 3px; }
/* =================================Page 2================================ */
.page2-menu { margin: auto; margin-bottom: 110px;}

.page2content {
    max-width: 1920px;
    width: 100%;
    height: 618px;
    margin: auto;
    position: relative;
}

.page2footer {
    width: 100%;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(to right,#211b19, #4e3427);
}

.p2-submenu {
    min-width: 200px;
    width: 23.23%;
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 0 15px;
    transition: ease 0.3s;
}

.p2-img {
    width: 100%;
    height: 481px;
    position: absolute;
    bottom: 0;
    margin-top: 39px;
}

.p2-img-center, .p2-img-right, .p2-img-left {
    position: absolute;
    width: 40%;
    bottom: 0;
}
.p2-img-center { left: 30%; }
.p2-img-left { left: 18%; }
.p2-img-right { right: 18%; bottom: 0; }

.page2footercontent {
    height: 100%;
    margin: auto;
}

.page2footerleft {
    float: left;
    height: 100%;
}

.page2footerright {
    float: right;
    height: 100%;
}

.p2_ {
    width: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin: auto;
    margin-top: 30px;
}

.p2-webappdesign, .p2-development, .p2-customization, .p2-marketing {
    width: 52px;
    height: 52px; 
}

.p2-webappdesign { background-image: url('../images/page2/page2-icon-webappdesign-dbl.png'); margin: auto; background-position: 0px 0; }
.p2-development { background-image: url('../images/page2/page2-icon-development-dbl.png'); margin: auto; background-position: 0px 0; }
.p2-customization { background-image: url('../images/page2/page2-icon-customization-dbl.png'); margin: auto; background-position: 0px 0; }
.p2-marketing { background-image: url('../images/page2/page2-icon-marketing-dbl.png'); margin: auto; background-position: 0px 0; }

.p2-submenu:hover .p2-webappdesign { background-position: 52px 0; }
.p2-submenu:hover .p2-development { background-position: 52px 0; }
.p2-submenu:hover .p2-customization { background-position: 52px 0; }
.p2-submenu:hover .p2-marketing { background-position: 52px 0; }

.p2-submenu:hover .p2-menutitle {
    color: #c7b299;
    transition: all 0.3s ease; 
}

.p2-submenu:hover .p2_ {
    border-color: #c7b299;
    transition: all 0.3s ease; 
}

.p2-content-content {
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 22px;
    color: #8c8c8c;
}

.p2-menu-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* scroll-behavior: smooth; */
}

.p2-slider { margin: 15px 0; visibility: hidden; }

.p2-slider-active { width: 20%; border-color: #918f8f; }
.p2-slider-deactive { width: 5%; border-color: #bbbbbb; }

.p2-slider-mobile {
    margin: 0 15px;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    transition: 0.3s;
}
/* ===============================Page 3===================================== */

.page3-header {
    height: 252px;
    margin: auto;
}

.page3-content {
    max-width: 1175px;
    margin: auto;
}

.p3-btn-active, .p3-btn {
    border-radius: 5px;
    line-height: 32px;
    justify-items: center;
}
.p3-btn-active {
    background-color: #998675;
    color: white;
}
.p3-btn {
    border-style: solid;
    border-width: thin;
    border-color: #ebebeb;
    width: 120px;
}
#p3-all {
    border-style: solid;
    border-width: thin;
    border-color: #ebebeb;
    border-radius: 5px;
}

.p3-content {
    width: 65%;
    margin: auto;
}

.p3-item {
    width: 30%;
    height: 338px;
    position: relative;
    margin: 15px;
}

.p3-item-active {
    box-shadow: 0 0 120px;
    z-index: 100;
}

.p3-item-deactive {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(80%);
}

#p3-item-1 { margin-left: 10%; }
#p3-item-6 { margin-right: 10%; }

#p3-all {
    padding-left: 26px;
    padding-right: 26px;
    margin-right: 10px;
    line-height: 32px;
}

.page3-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    /* scroll-behavior: smooth; */
}

.p3-select {
    color: #8c8c8c;
    margin-top: 39px;
    height: 40px;
    width: 80%;
    display: none;
    border-radius: 5px;
    padding: 0 15px;
    background-color: white;
}

.p3-photo { width: 100%; height: 238px; }

.p3-item-content { width: 100%; height: 100px; }

.p3-item:hover .p3-overlay{ 
    display: block; 
    transition: all 0.5s ease; 
}
.p3-item:hover .p3-photo { 
    filter: brightness(60%); 
    transition: all 0.5s ease; 
}
.p3-item:hover .p3-item-content { 
    background-color: #362f2d; 
    color: #c7b299;
    transition: all 0.5s ease;
}
.p3-item:hover .p3-item-title { 
    color: #ffffff; 
    transition: all 0.5s ease; 
}

.p3-item:hover .p3-square { background-color: #362f2d; transition: 0.5s; }

.p3-photo1 { background: url('../images/page3/page3-photo1.png') center center; background-size: auto 100%; }
.p3-photo2 { background: url('../images/page3/page3-photo2.png') center center; }
.p3-photo3 { background: url('../images/page3/page3-photo3.png'); }
.p3-photo4 { background: url('../images/page3/page3-photo4.png') left bottom; }
.p3-photo5 { background: url('../images/page3/page3-photo5.png') center center; }
.p3-photo6 { background: url('../images/page3/page3-photo6.png') center center; }

.p3-overlay{
    display: none;
    width: 100%;
    height: 238px;
    position: absolute;
    top: 0;
    left: 0;
}

.p3-link, .p3-search {
    width: 30px;
    height: 30px;
}

.p3-link { background-image: url('../images/page3/page3-icon-link-dbl.png'); margin-right: 20px; background-position: 0 0;}
.p3-link:hover { background-position: 30px 0; }
.p3-search { background-image: url('../images/page3/page3-icon-search-dbl.png'); background-position: 0 0;}
.p3-search:hover { background-position: 30px 0; }

.p3-btn:hover, #p3-all:hover {
    border-color: #998675;
    color: #998675;
    transition: all 0.5s ease;
    background-color: white;
}

.p3-square {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    bottom: -20px;
    left: 20px;
    -webkit-clip-path: polygon(51% 16%, 100% 50%, 53% 80%, 0% 50%);
    clip-path: polygon(51% 16%, 100% 50%, 53% 80%, 0% 50%);
}
/* ======================================Page 4============================== */
.page4 { height: 710px; position: relative; }

.p4-blur {
    width: 100%;
    height: 710px;
    background: url('../images/page4/page4-background.jpg') center;
    filter: brightness(60%);
}

.page4-content {
    position: absolute;
    top: 0;
    left: 19.4%;
    height: 704px;
}

.p4-icon {
    width: 102px;
    height: 102px;
    position: relative;
}

.p4-icon-blur {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 70px;
    filter: opacity(30%);
}

.p4-icon-position {
    position: absolute;
    top: 15px;
    left: 15px;
}
/* ==============================Page 5============================= */
.page5 { position: relative; }

.page5-frame {
    max-width: 1175px;
    height: 696px;
    margin: auto;
    position: relative;
}

.page5photo {
    width: 40%;
    height: 696px;
    position: absolute;
    left: 0;
    top: 0;
}

.page5content {
    width: 60%;
    height: 696px;
    position: absolute;
    right: 0;
    top: 0;
}

.page5footer {
    width: 100%;
    height: 302px;
    background-image: linear-gradient(to right,#211b19, #4e3427);
}

.page5-menu {
    height: 302px;
    margin: auto;
}

.p5-photo {
    width: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.p5-icon {
    width: 12%;
}

.p5-arrow {
    padding-top: 10px;
}

.p5-icon-img {
    width: 42.8%;
    /* height: 42.8%; */
}

._ {
    border-style: solid;
    border-width: 1px;
    width: 30px;
    border-color: white;
    margin: auto;
    margin-top: 25px;
}

.p5-icon-counter {
    margin-top: 12px;
    color: white;
}
/* =======================================Page 6================================== */

.page6-content {
    margin: auto;
}

.p6-items {
    width: 370px;
    height: 395px;
    position: relative;
    margin: 0 15px 15px 15px;
}

.p6-photo1, .p6-photo2, .p6-photo3 { width: 100%; height: 220px; }
.p6-photo1 { background-image: url('../images/page6/page6-photo1.png'); }
.p6-photo2 { background-image: url('../images/page6/page6-photo2.png'); }
.p6-photo3 { background-image: url('../images/page6/page6-photo3.png'); }

.p6-items-content { width: 100%; height: 175px; }

.p6-calendar {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.p6-date, .p6-month {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p6-date {
    width: 100%;
    height: 35px;
    background-color: #363636;
    border-radius: 5px 5px 0 0;
}

.p6-month {
    width: 100%;
    height: 25px;
    background-color: #252525;
    border-radius: 0 0 5px 5px;
}

.p6-text {
    color: #8c8c8c;
    margin-top: 12px;
    width: 65%;
}

.p6-left, .p6-right { width: 25px; height: 25px;}
.p6-left { background-image: url('../images/page6/page6-left-dbl.png'); margin-right: 4px; background-position: 0 0;}
.p6-right { background-image: url('../images/page6/page6-right-dbl.png'); background-position: 0 0; }
.p6-left:hover { background-position: 24px 0; }
.p6-right:hover { background-position: 24px 0; }

.p6-item1:hover .p6-photo1, .p6-item2:hover .p6-photo2, .p6-item3:hover .p6-photo3 { filter: brightness(40%); }
.p6-items:hover .p6-item-title { color: #c7b299; }
.p6-items:hover .p6-item-content { color: #ffffff; }
.p6-items:hover .p6-items-content { background-color: #362f2d; transition: all 0.5s ease; }
.p6-items:hover .p6-date { background-color: #c7b299; transition: all 0.5s ease; }
.p6-items:hover .p6-month { background-color: #a48d72; transition: all 0.5s ease; }

/* ======================================Page 7================================== */
/* .page7 { height: 1112px; } */

.page7top {
    width: 100%;
    height: 492px;
    position: relative;
    /* background: #fff url('../images/page7/page7-header-background.png') center center no-repeat; */
}

.p7-blur {
    width: 100%;
    height: 492px;
    background: #fff url('../images/page7/page7-header-background.jpg') 80% center;
    filter: brightness(40%);
}

.page7center {
    width: 100%;
    /* height: 508px; */
    background: #191919;
}

.page7bottom {
    width: 100%;
    height: 112px;
    background: #000000;
}

.page7-logos {
    height: 492px;
    position: absolute;
    top: 0px;
    left: 19.4%;
}

.page7-content {
    max-width: 1175px;
    /* height: 508px; */
    margin: auto;
}

.p7-content-col {
    min-width: 200px;
    width: 22.5%;
    height: 508px;
    margin-right: 35px;
}

.page7-footer {
    max-width: 1175px;
    height: 112px;
    margin: auto;
}

.p7-logo {
    width: 18.5%;
    max-width: 225px;
    height: 18.5%;
}

._7 {
    margin-top: 15px;
    width: 100%;
    border-top-style: solid;
    border-width: thin;
    border-color: #252525;
}

.p7-content-title {
    color: white;
    margin-top: 103px;
}
/* ============================Width============================== */
.width48 { width: 48% }

/* ============================Height============================== */
.height100 { height: 100%; }

/* ============================Padding============================== */
.pdl30 { padding-left: 30px }
.pdr30 { padding-right: 30px }
.pdt-4 { padding-top: 4px }

/* ============================Margin============================== */
.mg-auto { margin: auto; }

.mgt-10 { margin-top: 10px; }
.mgt-25 { margin-top: 25px; }
.mgt-35 { margin-top: 35px; }
.mgt-39 { margin-top: 39px; }
.mgr-10 { margin-right: 10px; }
.mgr-57 { margin-right: 57px; }
.mgr-85 { margin-right: 85px; }

/* ============================Text align============================== */
.ta-center-136 {
    justify-items: center;
    line-height: 136px;
}

.ta-center { text-align: center; }
.ta-left { text-align: left; }

/* ============================Flex============================== */
.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-row-stable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-row-nowrap-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

/* ============================Float============================== */
.float-left { float: left; }
.float-right { float: right; }
.clearfloat { clear:both; }

/* ============================Position============================== */
.absolute-left {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* ============================Fonts============================== */
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-UltraLight;
    src: url('../fonts/Montserrat-UltraLight.otf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

.f-RalewayRegular-28 {
    font-family: Raleway-Regular;
    font-size: 28px;
}

.f-RalewayRegular-34 {
    font-family: Raleway-Regular;
    font-size: 34px;
}

.f-RalewayMedium-20 {
    font-family: Raleway-Medium;
    font-size: 20px;
}

.f-RalewayMedium-30 {
    font-family: Raleway-Medium;
    font-size: 30px;
}

.f-RalewayMedium-36 {
    font-family: Raleway-Medium;
    font-size: 36px;
}

.f-RalewayBold-24 {
    font-family: Raleway-Bold;
    font-size: 24px;
}

.f-RalewaySemiBold-22 {
    font-family: Raleway-SemiBold;
    font-size: 22px;
}

.f-RalewaySemiBold-30 {
    font-family: Raleway-SemiBold;
    font-size: 30px;
}

.f-RalewayExtraBold-14 {
    font-family: Raleway-ExtraBold;
    font-size: 14px;
}

.f-RalewayExtraBold-52 {
    font-family: Raleway-ExtraBold;
    font-size: 52px;
}

.f-MontserratLight-12 {
    font-family: Montserrat-Light;
    font-size: 12px;
}

.f-MontserratLight-13 {
    font-family: Montserrat-Light;
    font-size: 13px;
}

.f-MontserratLight-14 {
    font-family: Montserrat-Light;
    font-size: 14px;
}

.f-MontserratLight-16 {
    font-family: Montserrat-Light;
    font-size: 16px;
}

.f-MontserratLight-18 {
    font-family: Montserrat-Light;
    font-size: 18px;
}

.f-MontserratLight-24 {
    font-family: Montserrat-Light;
    font-size: 24px;
}

.f-MontserratRegular-14 {
    font-family: Montserrat-Regular;
    font-size: 14px;
}

.f-MontserratUltraLight-48 {
    font-family: Montserrat-UltraLight;
    font-size: 48px;
}

.f-Roboto-12 {
    font-family: Roboto;
    font-size: 12px;
}

.p7-photos1, .p7-photos2, .p7-photos3, .p7-photos4 {
    width: 48%;
    height: 98px;
}

.p7-photos1 { background: url('../images/page7/page7-photo1.png') center; }
.p7-photos2 { background: url('../images/page7/page7-photo2.png') center; }
.p7-photos3 { background: url('../images/page7/page7-photo3.png') center; }
.p7-photos4 { background: url('../images/page7/page7-photo4.png') center; }

/* ============================Font colors============================== */
.fc-white { color: #ffffff; }
.fc-menu { color: #c7b299; }
.fc-text { color: #8c8c8c; }
.fc-darkgray { color: #555555; }
.fc-footer2 { color: #615855; }
.fc-subtitle { color: #d1d1d1; }
.fc-timedark { color: #363636; }
.fc-hashtag { color: #00bff3; }
.fc-logos { color: #959595; }

/* ============================Line Height============================== */
.lh-28 {
    justify-items: center;
    line-height: 28px;
}

.lh-24 {
    justify-items: center;
    line-height: 24px;
}

.lh-112 {
    justify-items: center;
    line-height: 112px;
}

/* ================================Change size================================= */
@media only screen and (max-width: 1750px) {
    /* .f-RalewaySemiBold-22 { font-size: 18px; } */

    .f-RalewayMedium-20 { font-size: 16px; }

    .f-MontserratUltraLight-48 { font-size: 35px; }

    .lh-28 { line-height: 24px; }

    .f-RalewayRegular-34 { font-size: 29px; }

    .page1-menu, .page2-menu, .page2footercontent, .page3-header, .page3-content, .page4-content, .page5-frame, .page5-menu, .page6-content, .page7-logos, .page7-content, .page7-footer {
        width: 80%;
    }

    .page2-menu { margin-bottom: 50px; }

    .p2-img { margin-top: 0px;}

    .page2content { height: 580px;}

    .p2-submenu { height: 300px;}

    .page4-content { left: 10%; }

    .page7-logos { left: 10%;}
}

@media only screen and (max-width: 1500px) {
    .page2content { height: 500px;}
    
    .p2-content-content { padding-left: 15%; padding-right: 15%; }
}

@media only screen and (max-width: 1350px) {
    .p1-menu { margin-right: 10px; }
}

@media only screen and (max-width: 1250px) {
    .page2content { height: 450px;}
}

@media only screen and (max-width: 1150px) {
    .f-MontserratLight-18 { font-size: 14px; }

    .f-MontserratLight-16 { font-size: 12px; }

    /* .f-MontserratLight-14 { font-size: 8px; } */

    .f-MontserratLight-12 { font-size: 6px; }

    .f-RalewayExtraBold-52 { font-size: 45px; }

    .f-RalewaySemiBold-22 { font-size: 16px; }

    .f-RalewayMedium-20 { font-size: 14px; }

    .f-RalewayRegular-28 { font-size: 20px; }

    .f-MontserratUltraLight-48 { font-size: 30px; }

    .lh-28 { line-height: 20px; }

    .p1-menu { margin-right: 5px; }

    .p3-item { margin: 10px; }

    .mgr-57 { margin-right: 20px; }
}

@media only screen and (max-width: 1000px) {
    .f-MontserratLight-24 { font-size: 35px; }

    .f-MontserratLight-18 { font-size: 20px; }

    .f-MontserratLight-16 { font-size: 35px; }

    .f-MontserratLight-14 { font-size: 35px; }

    .f-MontserratLight-12 { font-size: 12px; }

    .f-RalewaySemiBold-22 { font-size: 22px; }

    .f-RalewaySemiBold-30 { font-size: 45px; }

    .f-RalewayExtraBold-14 { font-size: 25px; }

    .f-RalewayMedium-20 { font-size: 40px; }

    .f-RalewayMedium-30 { font-size: 50px; }

    .f-RalewayRegular-28 { font-size: 30px; }

    .f-RalewayRegular-34 { font-size: 50px; }

    .f-MontserratUltraLight-48 { font-size: 30px; }

    .f-MontserratRegular-14 { font-size: 25px; }

    .f-Roboto-12 { font-size: 25px; }

    .button { width: 250px; height: 60px;}

    .lh-24 { line-height: 50px; }

    .lh-28 { line-height: 60px; }
    
    #p1-content { line-height: 50px; font-size: 40px; line-height: 50px; }

    #p1-name { font-size: 90px; }

    .p1-menu-icon { width: 50px; height: 50px;}

    .p1-header-option { font-size: 50px; }

    .p1-img-logos { width: 80px; }

    .flex-row-nowrap { flex-wrap: wrap; }

    .p2-menu-flex { flex-wrap: wrap; }

    .slideleft, .slideright { display: none; }

    .page1content { width: 80%; padding-left: 10%; }

    .page2footercontent { width: 90%; }

    .p3-item { width: 100%; }

    .p6-items { width: 100%; }

    .p7-content-col { height: auto; width: 80%; padding-bottom: 30px; }

    .p2-submenu, .p3-item { 
        width: 100%; 
        height: unset; 
        line-height: 50px; 
        padding: 50px 0px;
        display: inline-block;
        margin: 0;
    }

    .p2-menu-flex {
        display: block;
        overflow: auto;
        white-space: nowrap;
        /* display: inline-block; */
        padding: 0 0;
    }

    .p2-menu-content { white-space: initial; }

    .p2-menutitle { font-size: 42px; line-height: 60px; }

    .page2content { min-height: 800px; height: auto;}

    .p2-img-left, .p2-img-right { width: 50%; }
    .p2-img-left { left: 5%; }
    .p2-img-right { right: 5%; }
    .p2-img-center { width: 60%; left: 20%; }

    .p2-slider { visibility: visible; }

    .page2-menu { width: 100%; }

    .p3-select { height: 70px;}

    .p3-tab { display: none; }

    .p3-content { width: 100%; }

    .page3-header { height: auto; padding-bottom: 50px; width: 100%;}

    .page3-content { width: 100%; }

    .p3-photo1, .p3-photo2, .p3-photo3, .p3-photo4, .p3-photo5, .p3-photo6 {
        background-size: 100% auto;
    }

    .p3-photo { height: 438px;}

    .p3-item { width: 80%; height: 588px; border-radius: 50px; padding: 0;}

    .p3-photo { border-radius: 50px 50px 0 0; }

    .p3-item-content { height: 150px; border-radius: 0 0 50px 50px;}

    .p3-overlay { height: 438px; }

    .page3-flex-row { 
        display: block;
        overflow: auto;
        white-space: nowrap;
        /* display: inline-block; */
        padding: 100px 0;
        height: 688px; 
    }

    .p2-content-content { padding: 0 0;}

    .page5-frame { height: auto; width: 100%;}

    .page5-menu { width: 100%; }

    .page5photo, .page5content { position: relative; width: 100%;}

    .page5content { height: auto; padding-top: 50px; padding-bottom: 50px;}

    .p5-photo { height: 90%; width: auto; left: 30%;}

    .p5-icon { width: 15%; }

    .p5-footer-text { font-size: 20px; }

    .p6-text { width: 100%; }

    .page6-content { width: 100%; }

    .p6-items { height: 645px;}

    .p6-photo1, .p6-photo2, .p6-photo3, .p6-photo4, .p6-photo5, .p6-photo6 { height: 370px; }

    .p6-items-content { height: 275px; }

    .p6-calendar { width: 100px; height: 120px; left: 30px; top: 30px;}
    .p6-date { height: 70px;}
    .p6-month { height: 50px;}

    .width48 { width: 100%; }

    .p6-photo1, .p6-photo2, .p6-photo3 {
        background-size: 100% auto;
    }

    .page7-content { width: 100%; }

    .p3-select { display: block; }
    /* .p3-item1, .p3-item2, .p3-item4, .p3 */

    .p1-menu-text { display: none; }

    .icon-expandmenu { display: block; }
}

/* ===================================display========================================= */
.display-none { display: none; }
.display-block { display: block; }