body { margin: 0px; font-size: 24pt; cursor: default; z-index: 100;}

.frame { transition: background-color 1s; }

.borderinset {
    border-style: inset;
    border-width: thin;
    border-color: black;
}

.frame {
    /* max-width: 1920px; */
    width: 100%;
    /* margin: auto; */
    position: relative;
}

.page1, .page2, .page3, .page4, .page5, .page6, .page7 { width: 100%; position: relative;}

.page1-menu, .page2-menu, .page2footercontent, .page3-header, .page3-content, .page4-content, .page5-frame, .page5-menu, .page6-content, .page7-logos, .page7-content, .page7-footer {
    width: 61.2%;
}

ul li { display: inline; }

a { text-decoration: none; color: white;}

.cursor-pointer { cursor: pointer; }
.cursor-default { cursor: default; }

.button {
    width: 170px;
    height: 50px;
    border-radius: 5px;
    background-color: #998675;
    border-width: 1px;
    border-color: #998675;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #736357;
}
.button:hover { background-color: #ffffff; color: #998675; transition: all 0.3s ease; border-color: #998675; }

/* =================================Page 2================================ */
.page2-menu { margin: auto; margin-bottom: 110px;}

.page2content {
    max-width: 1920px;
    width: 100%;
    height: 618px;
    margin: auto;
    position: relative;
}

.page2footer {
    width: 100%;
    height: 150px;
    margin: auto;
    background-image: linear-gradient(to right,#211b19, #4e3427);
}

.p2-submenu {
    min-width: 200px;
    width: 23.23%;
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 0 15px;
}

.p2-img {
    width: 100%;
    height: 481px;
    position: absolute;
    bottom: 0;
    margin-top: 39px;
}

.p2-img-center, .p2-img-right, .p2-img-left {
    position: absolute;
    width: 40%;
    bottom: 0;
}
.p2-img-center { left: 30%; }
.p2-img-left { left: 18%; }
.p2-img-right { right: 18%; bottom: 0; }

.page2footercontent {
    height: 100%;
    margin: auto;
}

.page2footerleft {
    float: left;
    height: 100%;
}

.page2footerright {
    float: right;
    height: 100%;
}

.p2_ {
    width: 25%;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    margin: auto;
    margin-top: 30px;
}

.p2-webappdesign, .p2-development, .p2-customization, .p2-marketing {
    width: 52px;
    height: 52px; 
}

.p2-webappdesign { background-image: url('../images/page2/page2-icon-webappdesign-dbl.png'); margin: auto; background-position: 0px 0; }
.p2-development { background-image: url('../images/page2/page2-icon-development-dbl.png'); margin: auto; background-position: 0px 0; }
.p2-customization { background-image: url('../images/page2/page2-icon-customization-dbl.png'); margin: auto; background-position: 0px 0; }
.p2-marketing { background-image: url('../images/page2/page2-icon-marketing-dbl.png'); margin: auto; background-position: 0px 0; }

.p2-submenu:hover .p2-webappdesign { background-position: 52px 0; }
.p2-submenu:hover .p2-development { background-position: 52px 0; }
.p2-submenu:hover .p2-customization { background-position: 52px 0; }
.p2-submenu:hover .p2-marketing { background-position: 52px 0; }

.p2-submenu:hover .p2-menutitle {
    color: #c7b299;
    transition: all 0.3s ease; 
}

.p2-submenu:hover .p2_ {
    border-color: #c7b299;
    transition: all 0.3s ease; 
}

.p2-content-content {
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 22px;
    color: #8c8c8c;
}

/* ============================Width============================== */
.width48 { width: 48% }

/* ============================Height============================== */
.height100 { height: 100%; }

/* ============================Padding============================== */
.pdl30 { padding-left: 30px }
.pdr30 { padding-right: 30px }
.pdt-4 { padding-top: 4px }

/* ============================Margin============================== */
.mg-auto { margin: auto; }

.mgt-10 { margin-top: 10px; }
.mgt-25 { margin-top: 25px; }
.mgt-35 { margin-top: 35px; }
.mgt-39 { margin-top: 39px; }
.mgr-10 { margin-right: 10px; }
.mgr-57 { margin-right: 57px; }
.mgr-85 { margin-right: 85px; }

/* ============================Text align============================== */
.ta-center-136 {
    justify-items: center;
    line-height: 136px;
}

.ta-center { text-align: center; }
.ta-left { text-align: left; }

/* ============================Flex============================== */
.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-row-stable {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.flex-row-nowrap-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

/* ============================Float============================== */
.float-left { float: left; }
.float-right { float: right; }
.clearfloat { clear:both; }

/* ============================Position============================== */
.absolute-left {
    position: absolute;
    top: 0;
    left: 0;
}

.absolute-right {
    position: absolute;
    top: 0;
    right: 0;
}

/* ============================Fonts============================== */
@font-face {
    font-family: Montserrat-Light;
    src: url('../fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-UltraLight;
    src: url('../fonts/Montserrat-UltraLight.otf');
}

@font-face {
    font-family: Raleway-Bold;
    src: url('../fonts/Raleway-Bold.ttf');
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url('../fonts/Raleway-ExtraBold.ttf');
}

@font-face {
    font-family: Raleway-Medium;
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: Raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: Raleway-SemiBold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

.f-RalewayRegular-28 {
    font-family: Raleway-Regular;
    font-size: 28px;
}

.f-RalewayRegular-34 {
    font-family: Raleway-Regular;
    font-size: 34px;
}

.f-RalewayMedium-20 {
    font-family: Raleway-Medium;
    font-size: 20px;
}

.f-RalewayMedium-30 {
    font-family: Raleway-Medium;
    font-size: 30px;
}

.f-RalewayMedium-36 {
    font-family: Raleway-Medium;
    font-size: 36px;
}

.f-RalewayBold-24 {
    font-family: Raleway-Bold;
    font-size: 24px;
}

.f-RalewaySemiBold-22 {
    font-family: Raleway-SemiBold;
    font-size: 22px;
}

.f-RalewaySemiBold-30 {
    font-family: Raleway-SemiBold;
    font-size: 30px;
}

.f-RalewayExtraBold-14 {
    font-family: Raleway-ExtraBold;
    font-size: 14px;
}

.f-RalewayExtraBold-52 {
    font-family: Raleway-ExtraBold;
    font-size: 52px;
}

.f-MontserratLight-12 {
    font-family: Montserrat-Light;
    font-size: 12px;
}

.f-MontserratLight-13 {
    font-family: Montserrat-Light;
    font-size: 13px;
}

.f-MontserratLight-14 {
    font-family: Montserrat-Light;
    font-size: 14px;
}

.f-MontserratLight-16 {
    font-family: Montserrat-Light;
    font-size: 16px;
}

.f-MontserratLight-18 {
    font-family: Montserrat-Light;
    font-size: 18px;
}

.f-MontserratLight-24 {
    font-family: Montserrat-Light;
    font-size: 24px;
}

.f-MontserratRegular-14 {
    font-family: Montserrat-Regular;
    font-size: 14px;
}

.f-MontserratUltraLight-48 {
    font-family: Montserrat-UltraLight;
    font-size: 48px;
}

.f-Roboto-12 {
    font-family: Roboto;
    font-size: 12px;
}

.p7-photos1, .p7-photos2, .p7-photos3, .p7-photos4 {
    width: 48%;
    height: 98px;
}

.p7-photos1 { background: url('../images/page7/page7-photo1.png') center; }
.p7-photos2 { background: url('../images/page7/page7-photo2.png') center; }
.p7-photos3 { background: url('../images/page7/page7-photo3.png') center; }
.p7-photos4 { background: url('../images/page7/page7-photo4.png') center; }

/* ============================Font colors============================== */
.fc-white { color: #ffffff; }
.fc-menu { color: #c7b299; }
.fc-text { color: #8c8c8c; }
.fc-darkgray { color: #555555; }
.fc-footer2 { color: #615855; }
.fc-subtitle { color: #d1d1d1; }
.fc-timedark { color: #363636; }
.fc-hashtag { color: #00bff3; }
.fc-logos { color: #959595; }

/* ============================Line Height============================== */
.lh-28 {
    justify-items: center;
    line-height: 28px;
}

.lh-24 {
    justify-items: center;
    line-height: 24px;
}

.lh-112 {
    justify-items: center;
    line-height: 112px;
}

/* ================================Change size================================= */
@media only screen and (max-width: 1750px) {
    /* .f-RalewaySemiBold-22 { font-size: 18px; } */

    .f-RalewayMedium-20 { font-size: 16px; }

    .f-MontserratUltraLight-48 { font-size: 35px; }

    .lh-28 { line-height: 24px; }

    .f-RalewayRegular-34 { font-size: 29px; }

    .page1-menu, .page2-menu, .page2footercontent, .page3-header, .page3-content, .page4-content, .page5-frame, .page5-menu, .page6-content, .page7-logos, .page7-content, .page7-footer {
        width: 80%;
    }

    .page2-menu { margin-bottom: 50px; }

    .p2-img { margin-top: 0px;}

    .page2content { height: 580px;}

    .p2-submenu { height: 300px;}

    .page4-content { left: 10%; }

    .page7-logos { left: 10%;}
}

@media only screen and (max-width: 1500px) {
    .page2content { height: 500px;}
    
    .p2-content-content { padding-left: 15%; padding-right: 15%; }
}

@media only screen and (max-width: 1350px) {
    .p1-menu { margin-right: 10px; }
}

@media only screen and (max-width: 1250px) {
    .page2content { height: 450px;}
}

@media only screen and (max-width: 1150px) {
    .f-MontserratLight-18 { font-size: 14px; }

    .f-MontserratLight-16 { font-size: 12px; }

    /* .f-MontserratLight-14 { font-size: 8px; } */

    .f-MontserratLight-12 { font-size: 6px; }

    .f-RalewayExtraBold-52 { font-size: 45px; }

    .f-RalewaySemiBold-22 { font-size: 16px; }

    .f-RalewayMedium-20 { font-size: 14px; }

    .f-RalewayRegular-28 { font-size: 20px; }

    .f-MontserratUltraLight-48 { font-size: 30px; }

    .lh-28 { line-height: 20px; }

    .p1-menu { margin-right: 5px; }

    .mgr-57 { margin-right: 20px; }
}

@media only screen and (max-width: 1000px) {
    .f-MontserratLight-24 { font-size: 35px; }

    .f-MontserratLight-18 { font-size: 20px; }

    .f-MontserratLight-16 { font-size: 30px; }

    .f-MontserratLight-14 { font-size: 30px; }

    .f-MontserratLight-12 { font-size: 12px; }

    .f-RalewaySemiBold-22 { font-size: 22px; }

    .f-RalewaySemiBold-30 { font-size: 45px; }

    .f-RalewayExtraBold-14 { font-size: 25px; }

    .f-RalewayMedium-20 { font-size: 35px; }

    .f-RalewayRegular-28 { font-size: 30px; }

    .f-MontserratUltraLight-48 { font-size: 30px; }

    .f-Roboto-12 { font-size: 25px; }

    .button { width: 250px; height: 60px;}

    .lh-24 { line-height: 50px; }

    .lh-28 { line-height: 50px; }
    
    #p1-content { line-height: 50px; font-size: 40px; line-height: 50px; }

    #p1-name { font-size: 90px; }

    .f-RalewayRegular-34 { font-size: 34px; }

    .flex-row-nowrap { flex-wrap: wrap; }

    .slideleft, .slideright { display: none; }

    .page1content { width: 80%; padding-left: 10%; }

    .page2footercontent { width: 90%; }

    .p3-item { width: 100%; }

    .p6-items { width: 100%; }

    .p7-content-col { height: auto; width: 80%; padding-bottom: 30px; }

    .p2-submenu { width: 100%; height: unset; line-height: 50px; padding: 50px 0px;}

    .p2-menutitle { font-size: 42px; line-height: 60px; }

    .page2content { min-height: 800px; height: auto;}

    .width48 { width: 100%; }

    .p6-photo1, .p6-photo2, .p6-photo3 {
        background-size: 100% auto;
    }

    .page7-content { width: 100%; }

    .p3-select { display: block; }
    /* .p3-item1, .p3-item2, .p3-item4, .p3 */

    .p1-menu-text { display: none; }

    .icon-expandmenu { display: block; }
}

/* ===================================display========================================= */
.display-none { display: none; }
.display-block { display: block; }

.scrollmenu {
    background-color: #000;
    overflow: auto;
    white-space: nowrap;
  }
  
  .scrollmenu a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  .scrollmenu a:hover {
    background-color: #777;
}

/* .test {
    min-width: 200px;
    width: 23.23%;
    height: 344px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px 0 15px;
    float: left;
} */